.img-card {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  transition: 0.2s;
}

.active {
  background-color: #f7f7f7;
  color: black;
  transition: 0.2s;
}

.active .img-card {
  transform: rotate(10deg);

  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.pri{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info.foto{
  padding: auto;
}

.img-persona{
  border-radius: 10px;
  margin: auto;
  width: 10vw;
  height: 30vh;
  object-fit: cover;
}

.datos{
  font-size: 20px;
  margin-top: 8%;
}
.asis-pri{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.asistencia-dentro{
  border-radius: 15px;
 margin-top: 4%;
 margin-left: 6%;
  border: solid 2px rgb(85, 252, 99);
  

}

.img-asis{
  border-radius: 50%;
  margin: auto;
  width: 10vw;
  height: 30vh;
  object-fit: cover;
}

.text-asis{
  font-size: 20px;
  margin-top: 15%;
}

